name: Bun CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install Dependencies (Ovencord)
        working-directory: ./bench-ovencord
        run: bun install

      - name: Type Check (Ovencord)
        working-directory: ./bench-ovencord
        run: bunx tsc --noEmit

      - name: Lint (Ovencord)
        working-directory: ./bench-ovencord
        run: bun run lint
